@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Upright");
.font-nsans {
  font-family: '$Nsans';
}

a, input[tyle="checkbox"] + label {
  transition: all 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

::selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

::-moz-selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

/* = = = = = = = = = = = = = = = =
// USE microCMS
 = = = = = = = = = = = = = = = = */
code {
  padding: 1rem 2rem;
  border-radius: .5rem;
  user-select: text;
}

code::selection {
  background: #fff;
  color: #000;
}
