@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Upright");
.font-nsans {
  font-family: '$Nsans';
}

a, input[tyle="checkbox"] + label {
  transition: all 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

::selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

::-moz-selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

/* = = = = = = = = = = = = = = = =
// USE microCMS
 = = = = = = = = = = = = = = = = */
.code {
  padding: 1rem 2rem;
  border-radius: .5rem;
}

/*! de-style.css v1.0.5 | MIT License | https://github.com/nicolas-cusan/destyle.css */
* {
  box-sizing: border-box;
  word-break: break-all;
}

::before,
::after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

a {
  transition: 0.4s;
  word-break: break-all;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

small {
  font-size: 65%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-style: none;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

::-webkit-input-placeholder {
  font: inherit;
}

:-ms-input-placeholder {
  font: inherit;
}

::-ms-input-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

[hidden] {
  display: none;
}

.ovh {
  overflow: hidden;
}

.ovs-x {
  overflow-x: scroll;
}

.mra {
  margin: auto;
}

.mrl {
  margin-left: auto;
  margin-right: 0;
}

.mrr {
  margin-right: auto;
  margin-left: 0;
}

.mrb {
  margin-bottom: auto;
  margin-top: 0;
}

.mrt {
  margin-top: auto;
  margin-bottom: 0;
}

.tC {
  text-align: center;
}

.tL {
  text-align: left;
}

.tR {
  text-align: right;
}

/* = = = = = = = = = = = = = = = =
// SETTING BREAKPOINTS
 = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = =
// All page common styles
 = = = = = = = = = = = = = = = = */
body {
  font-family: 'Nunito Sans',"Yu Gothic", "游ゴシック", 'YuGothic', "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  border-top: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.6;
  overflow-x: hidden;
  letter-spacing: 1px;
  color: #222;
}

.wrap {
  overflow-x: hidden;
}

.inner {
  max-width: 960px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 92%;
  }
}

.section {
  padding: 6rem 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 768px) {
  #__layout {
    overflow-x: hidden;
  }
}

.trans, .button:before, .button:after, .post-image:after {
  -moz-transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  transition: 0.4s linear;
}

.time {
  display: block;
}

.list-hyphen {
  margin: .4em 0;
}

.list-hyphen li:before {
  content: ' - ';
}

.sacrset, .layer-headline1:after {
  transform: rotate(-12deg);
  white-space: nowrap;
  font-family: 'Sacramento';
  font-weight: normal;
  line-height: 1;
  content: attr(data-text);
  -webkit-text-stroke: 0;
  position: absolute;
  z-index: -99;
}

.balloon {
  margin: 4rem auto;
}

@media screen and (max-width: 768px) {
  .balloon {
    margin: 2rem auto;
  }
}

.balloon .icons {
  min-width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.balloon .icons img {
  width: 4rem;
}

.balloon .speech {
  position: relative;
  margin-left: 1.6rem;
  border: 2px solid #ddd;
  height: 100%;
}

.balloon .speech:before, .balloon .speech:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 1rem;
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
}

.balloon .speech:before {
  left: -.8rem;
  border-right: .8rem solid #ddd;
}

.balloon .speech:after {
  left: -.6rem;
  border-right: .8rem solid #fff;
}

.button {
  border: 2px solid;
  background: #fff;
  padding: .4em 2.4em;
  font-family: 'Nsans';
  font-weight: 700;
  width: fit-content;
  margin: 2rem auto;
  position: relative;
  line-height: 2;
}

.button:hover {
  background: #222;
  color: #fff;
}

.button:hover:before {
  background: #fff;
  width: 1rem;
}

.button:hover:after {
  right: -2.4rem;
}

.button:before, .button:after {
  content: '';
  position: absolute;
  display: block;
}

.button:before {
  background: #222;
  height: .12rem;
  width: 2rem;
  top: calc(50% - 7px);
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translateX(0);
  z-index: 1;
}

.button:after {
  width: 3rem;
  height: .6rem;
  top: calc(50% - 1px);
  right: -1.4rem;
  border-bottom: solid 2px #222;
  border-right: solid 2px #222;
  transform: skewX(45deg);
  z-index: 0;
}

/* = = = = = = = = = = = = = = = =
// Header - unique styles
 = = = = = = = = = = = = = = = = */
.header {
  width: 100%;
}

.header-logo, .header-nav {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header-logo {
  max-width: 6rem;
  width: 100%;
  left: 0;
}

.header-nav {
  font-family: 'Nsans';
  font-weight: 600;
  color: #222;
  right: 0;
}

@media screen and (max-width: 768px) {
  .header-nav {
    mix-blend-mode: unset;
    filter: none;
    top: auto;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: .8em 0 .6em;
  }
}

@media screen and (max-width: 768px) {
  .header-nav_item {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    color: #222;
  }
  .header-nav_item p {
    margin: .4em 0 0;
  }
  .header-nav_item.home {
    order: 3;
  }
  .header-nav_item.service {
    order: 1;
  }
  .header-nav_item.works {
    order: 2;
  }
  .header-nav_item.blog {
    order: 4;
  }
  .header-nav_item.contact {
    order: 5;
  }
}

.header-nav_item .icon {
  font-size: 5vw;
  margin: auto;
}

.header-nav_item.nuxt-link-exact-active {
  pointer-events: none;
  color: #222;
  border-bottom: 2px solid;
}

@media screen and (max-width: 768px) {
  .header-nav_item.nuxt-link-exact-active {
    border-bottom: none;
    color: #FF8E3C;
    transform: scale(1.15);
    position: relative;
  }
  .header-nav_item.nuxt-link-exact-active:before {
    content: '';
    background: #fff;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: -40%;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -3;
  }
}

.text-progress {
  position: relative;
}

.text-progress:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ff6b00;
  clip: rect(0, 0, 100px, 0);
  transition: clip .3s ease-in-out;
  font-weight: 900;
}

.text-progress:hover:after {
  clip: rect(0, 100px, 100px, 0);
}

/* = = = = = = = = = = = = = = = =
// Front page - unique styles
 = = = = = = = = = = = = = = = = */
.float {
  transform: rotate(15deg);
  opacity: .2;
  position: absolute;
  left: -5%;
  top: -50%;
  border-radius: 41% 59% 70% 30% / 35% 30% 70% 65%;
  background: #f09;
  background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
  filter: blur(1rem);
  z-index: -10;
}

.float._grd {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: #f09;
  transform: rotate(45deg);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .float._grd {
    left: -10%;
    width: 240px;
    height: 280px;
  }
}

.float._org {
  width: 380px;
  height: 400px;
  right: -35%;
  left: auto;
  top: -10%;
  border-radius: 49% 51% 49% 51% / 69% 25% 75% 31%;
  background: #eb6c00;
  background-image: linear-gradient(45deg, #ffebad 0%, #ff5e00 100%);
}

.float._red {
  width: 320px;
  height: 320px;
  top: auto;
  left: -20%;
  bottom: -10%;
  border-radius: 49% 51% 49% 51% / 69% 25% 75% 31%;
  background: #eb6c00;
  background-image: linear-gradient(45deg, #ffebad 0%, #c000ff 100%);
}

@media screen and (max-width: 768px) {
  .float._red {
    left: -60%;
  }
}

.front-works .works-item:nth-child(odd) {
  margin: 0 auto;
}

.front-works .works-item:nth-child(even) {
  margin: 4rem auto 0;
}

.front-works .works-item:nth-of-type(n+5) {
  display: none;
}

@media screen and (max-width: 768px) {
  .front-works .works-item:nth-child(even), .front-works .works-item:nth-child(odd) {
    margin: 1.2rem auto;
  }
}

.front-blog .blog-item:nth-of-type(n+7) {
  display: none;
}

.layer {
  padding: 4rem 0;
}

@media screen and (max-width: 768px) {
  .layer {
    padding: 2rem 0;
  }
}

.layer-headline1 {
  text-align: center;
  position: relative;
  padding: 6rem 0;
  font-family: 'Nsans';
  font-weight: 400;
}

.layer-headline1:before {
  content: '';
  width: 4rem;
  height: .2rem;
  background: #FF8E3C;
  transform: rotate(-50deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: auto;
}

.layer-headline1:after {
  font-size: 6rem;
  color: #FF8E3C;
  z-index: -1;
  top: 20%;
  left: -20%;
  right: 0;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .layer-headline1:after {
    font-size: 50vw;
  }
}

.layer-headline2 {
  letter-spacing: 0;
  position: relative;
  margin: 2rem 0;
}

.layer-headline2:before {
  background: #222;
  content: '';
  width: 100%;
  height: .1em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

/* = = = = = = = = = = = = = = = =
// Work - unique styles
 = = = = = = = = = = = = = = = = */
.works-item {
  max-width: 440px;
  margin: 1.2rem auto;
}

.works-item:hover img {
  transition: ease-in-out .4s;
  opacity: .4;
}

.works-item:hover .works-image {
  transform: scale(1.04);
}

.works-item:hover .works-text {
  transform: scale(0.98);
}

.works-item:hover .outside {
  opacity: 1;
}

.works-image {
  position: relative;
  z-index: -1;
  max-width: 420px;
  max-height: 240px;
  margin-left: 1.2rem;
}

.works-image .outside {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.works-image .outside .icon {
  margin: .4em auto;
}

.works-text {
  margin-top: -4.6rem;
}

.works-text .title {
  margin: .4em 0 0;
}

.works-text .category {
  padding: .425rem 2rem;
}

.works-block_headline {
  border-left: 6px solid #FF8E3C;
  padding-left: .4em;
}

/* = = = = = = = = = = = = = = = =
// Blog - unique styles
 = = = = = = = = = = = = = = = = */
.blog-list {
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .blog-item {
    justify-content: center;
    display: flex;
  }
}

.blog-item:hover .post-image:after {
  opacity: 1;
}

.post-image {
  position: relative;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .post-image {
    margin-bottom: .4em;
  }
}

.post-image img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-image .category {
  position: absolute;
  top: -1em;
  left: 0;
  padding: 0.25em 2em;
  z-index: 10;
}

.post-image .category.sample {
  background: #FF8E3C;
}

.post-image:after {
  content: 'VIEW MORE';
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.post-image:before {
  content: '';
}

.post-header {
  padding: 4rem 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .post-header {
    padding: 6rem 0 2rem;
  }
}

.post-header_thmbnail img {
  max-width: 420px;
  max-height: 240px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-header_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* filter: grayscale(1); */
  opacity: 0.4;
}

.post-contents {
  padding: 2rem 2%;
}

@media screen and (max-width: 768px) {
  .post-contents {
    padding: 2%;
  }
}

.post-contents * {
  margin: 1em 0;
}

.post-contents h2 {
  font-size: 1.5em;
  border-bottom: 2px solid;
}

.post-contents h3 {
  font-size: 1.2em;
  border-left: 4px dotted;
  padding-left: .8em;
}

.post-contents h4 {
  font-size: 1.1em;
}

.post-contents h4:before {
  content: '- ';
}

.post-contents a {
  display: inline;
  color: #0000ff;
  text-decoration: underline;
}

.post-contents p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .post-contents p {
    font-size: .9rem;
  }
}

.post-sibling {
  padding: 1em 0;
}

.post-sibling .next {
  grid-column: 2/3;
}

@media screen and (max-width: 768px) {
  .post-sibling .next {
    grid-column: unset;
  }
}

.post-sibling_paging {
  position: relative;
  padding: 1em;
  min-height: 70px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.post-sibling_paging .arrow-icon {
  position: absolute;
  bottom: 25%;
  top: 25%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}

.post-sibling_paging .arrow-icon--circle {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.post-sibling_paging:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}

.post-sibling_paging:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.post-sibling_paging._prev {
  padding-left: 4em;
  border-right: 1px solid #ccc;
}

.post-sibling_paging._prev .arrow-icon {
  left: 1em;
  transform: scale(-1, 1);
}

@media screen and (max-width: 768px) {
  .post-sibling_paging._prev {
    border-right: none;
  }
}

.post-sibling_paging._next {
  padding-right: 4em;
}

.post-sibling_paging._next .arrow-icon {
  right: 1em;
}

@media screen and (max-width: 768px) {
  .post-sibling_paging._next {
    margin-top: -1px;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.breadcrumbList {
  color: #616269;
}

.breadcrumbList:after {
  content: '>';
  margin: 0 10px;
}

.breadcrumbList:last-child {
  font-weight: 900;
  pointer-events: none;
  color: #222;
}

.breadcrumbList:last-child:after {
  content: '';
  margin: 0;
}

.breadcrumbList a {
  display: inline-block;
  color: #331cbf;
  font-size: .9rem;
}

.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*左から右*/
.bgLRextend::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #666;
  /*伸びる背景色の設定*/
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}
