@charset "utf-8";
@import "_core";
@import "_reset";

/* = = = = = = = = = = = = = = = =
// SETTING BREAKPOINTS
 = = = = = = = = = = = = = = = = */

 $breakpoints: (
  'sm': 'screen and (max-width: 460px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

$Org: #FF8E3C;
$Kro: #222;
$background: #FFE200;

/* = = = = = = = = = = = = = = = =
// All page common styles
 = = = = = = = = = = = = = = = = */
body {
  font-family:'Nunito Sans',"Yu Gothic", "游ゴシック", 'YuGothic', "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  border-top: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.6;
  overflow-x: hidden;
  letter-spacing: 1px;
  color: $Kro;
}
.wrap{
  overflow-x: hidden;
}
.inner{
  max-width: 960px;
  margin: auto;
  @include mq(){
    max-width: 92%;
  }
  &._post{
    max-width: 1080px;
  }
}
.section {
  padding: 6rem 0;
  position: relative;
  z-index: 1;
  @include mq(){
    padding: 4rem 0;
  }
}
#__layout{
  @include mq(){
    overflow-x: hidden;
  }
}
.trans{
  -moz-transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  transition: 0.4s linear;

}
.time{
  display: block;
}
.list{
  &-hyphen{
    margin: .4em 0;
    li{
      &:before{
        content: ' - ';
      }
    }
  }
}
.sacrset{
  transform: rotate(-12deg);
  white-space:nowrap;
  font-family: 'Sacramento';
  font-weight: normal;
  line-height: 1;
  content: attr(data-text);
  -webkit-text-stroke: 0;
  position: absolute;
  z-index: -99;
}
.balloon{
  margin: 2rem auto;
  .icons{
    min-width: 4rem ;
    height: 4rem;
    // border: 2px solid #ddd;
    display: flex;
    align-items: center;
    img{
      width: 4rem;
    }
  }
  .speech{
    position: relative;
    margin-left: 1.6rem;
    border: 2px solid #ddd;
    height: 100%;
    &:before,
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 1rem;
      border-top: .8rem solid transparent;
      border-bottom: .8rem solid transparent;
    }
    &:before{
      left: -.8rem;
      border-right: .8rem solid #ddd;
    }
    &:after{
      left: -.6rem;
      border-right: .8rem solid #fff;
    }
  }
}
.button{
  border: 2px solid ;
  background: #fff;
  padding: .4em 2.4em;
  font-family: 'Nsans';
  font-weight: 700;
  width: fit-content;
  margin: 2rem auto;
  position: relative;
  line-height: 2;
  &:hover{
    background: $Kro;
    color: #fff;
    &:before{
      background: #fff;
      width: 1rem;
    }
    &:after{
      right: -2.4rem;
    }
  }
  &:before,
  &:after{
    @extend .trans;
    content: '';
    position: absolute;
    display: block;
  }
  &:before{
    background: $Kro;
    height: .12rem;
    width: 2rem;
    top: calc(50% - 7px);
    bottom: 0;
    right: 0;
    margin: auto;
    transform: translateX(0);
    z-index: 1;
  }
  &:after{
    width: 3rem;
    height: .6rem;
    top: calc(50% - 1px);
    right: -1.4rem;
    border-bottom: solid 2px $Kro;
    border-right: solid 2px $Kro;
    transform: skewX(45deg);
    z-index: 0;
  }
}
/* = = = = = = = = = = = = = = = =
// Header - unique styles
 = = = = = = = = = = = = = = = = */
.header{
  width: 100%;
  &-logo,
  &-nav{
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  &-logo{
    max-width:6rem;
    width: 100%;
    left: 0;
  }
  &-nav{
    font-family: 'Nsans';
    font-weight: 600;
    color: $Kro;
    // mix-blend-mode: exclusion;
    // filter: invert(100%) grayscale(100%) contrast(100);
    right: 0;
    @include mq(md){
      mix-blend-mode: unset;
      filter: none;
      top: auto;
      bottom: 0;
      width: 100%;
      background: #fff;
      padding: .8em 0 .6em;
    }
    &_item{
      &:hover{
        // color: $Org;
        // transform: scale(1.1);
        &::first-letter{
          // transform: scale(1.1);
          // color: $Org;
        }
      }
      @include mq(md){
        width: 100%;
        font-size: 2vw;
        text-align: center;
        color: $Kro;
        p{
          margin: .4em 0 0;
        }
        &.home{
          order: 3;
        }
        &.service{
          order: 1;
        }
        &.works{
          order: 2;
        }
        &.blog{
          order: 4;
        }
        &.contact{
          order: 5;
        }
      }
      .icon{
        font-size: 5vw;
        margin: auto;
      }
      &.nuxt-link-exact-active{
        // color: #ff6b00;
        pointer-events: none;
        color: $Kro;
        border-bottom: 2px solid;
        @include mq(md){
          border-bottom: none;
          color: $Org;
          transform: scale(1.15);
          position: relative;
          &:before{
            content: '';
            background: #fff;
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: -40%;
            border-radius: 50%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -3;
          }
        }
      }
    }
  }
}
.text-progress {
  position: relative;
  // color: #9a9a9a;
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ff6b00;
    clip: rect(0,0,100px,0);
    transition: clip .3s ease-in-out;
    font-weight: 900;
  }
  &:hover{
    &:after {
      clip: rect(0,100px,100px,0);
    }
  }
}


/* = = = = = = = = = = = = = = = =
// Footer - unique styles
= = = = = = = = = = = = = = = = */
.footer{
  position: relative;
  z-index: 1;
  @include mq(md){
    margin-bottom: 4rem;
  }
  .waves {
    position:relative;
    width: 100%;
    height:3rem;
    margin-bottom:-7px; /*Fix for safari gap*/
  }
  .parallax{
    & use {
      animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
      &:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      &:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      &:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      &:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
    }
  }
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}

/* = = = = = = = = = = = = = = = =
// Main View - unique styles
 = = = = = = = = = = = = = = = = */
 .ball{
  display: block;
  position: absolute;
  border-radius: 99999px;
  aspect-ratio: 1 /1;
  height: auto;
  &._blur{
    filter: blur(1rem);
    z-index: 1;
  }
  &._gd8{
    top: 10%;
    width: 55vw;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    opacity: 0.4;
    animation: ballbounce 1s ease infinite alternate;
    @include mq(){
      top: 12%;
      left: -20%;
      width: 75vw;
    }
  }
  &._gd15{
    width: 70vw;;
    top: -25%;
    right: -15%;
    background-image: linear-gradient(120deg, #ffcb8c 0%, #e39cf5 100%);
    @include mq(md){
      width: 100vw;
      top: -5%;
      right: -25%;
    }
  }
  &._gd23{
    width: 28vw;;
    top: -15%;
    right: 32%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    @include mq(md){
      width: 56vw;
      top: 50%;
    }
  }
  &._gd33{
    width: 12vw;;
    top: 15%;
    right: 45%;
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    @include mq(md){
      width: 42vw;
      top: 25%;
      right: -40px;
    }
  }
  &._gd36{
    width: 25vw;;
    top: 55%;
    right: 35%;
    transform: rotate(-45deg);
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    animation: ballbounce .6s ease infinite alternate;
    @include mq(md){
      width: 35vw;
      top: 61%;
      right: 8%;
    }
  }
  &._gd43{
    width: 42vw;;
    bottom: -15%;
    left: -10%;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    @include mq(md){
      width: 74vw;
      bottom: -18%;
    }
  }
  &._skew{
    z-index: 4;
    width: 30vw;
    top: 5%;
    background-color: transparent;
    background-image: repeating-linear-gradient(45deg, #fff, #fff 2px, transparent 0, transparent 12px);
    @include mq(md){
      width: 50vw;
      top: 20%;
    }
  }
  &._skewres{
    z-index: 4;
    width: 24vw;
    top: 50%;
    right: 25%;
    background-color: transparent;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 2px, transparent 0, transparent 10px);
    @include mq(md){
      width: 34vw;
      top: 60%;
      right: 15%;
    }
  }
}
@keyframes ballbounce{
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-.8rem);
  }
}
@keyframes ballbounce2{
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1rem);
  }
}
.mainview{
  height: 100vh;
  position: relative;
  margin-bottom: 4rem;
  // overflow: hidden;
  // background: rgb(255,255,255);
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(0deg, white 0%, white 0%, rgba(255, 255, 255, 0.1) 10%);
  }
  &:after{
    // content: '';
    background: rgba(255,255,255,0.8);
    width: 80vw ;
    height: 6rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &-text{
    color: $Kro;
    position: absolute;
    top: 30%;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
    // mix-blend-mode: exclusion;
    // filter: invert(100%) grayscale(100%) contrast(100);
    max-width: 1080px;
    .key,
    .caption{
      background: #fff;
    }
    .key{
      @include mq(md){
        font-size: 7vw;
      }
    }
    .caption{
      margin-top: .6rem;
      display: inline-block;
    }
    @include mq(md){
      max-width: 94%;
      height: min-content;
      top: 0;
      bottom: 0;
    }
    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      padding: 20%;
      border: 1px solid;
      top: 0;
      bottom: 0;
      left: -10%;
      margin: auto;
      transform: rotate(70deg);
      aspect-ratio: 1/1;
      @include mq(){
        padding: 40%;
      }
    }
  }
  &-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right:0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    // aspect-ratio: 1 / 1;
    // border-radius: 50% 0 50% 50%;
    // border-radius: 0 0 25% 0;
    // filter: blur(0.3rem);
    @include mq(md){
      border-radius: 0 0 50% 0;
    }
    img{
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
  }
  .scroll{
    display: inline-block;
    position: absolute;
    right: 2rem;
    bottom: -6rem;
    z-index: 2;
    padding: 10px 10px 110px;
    line-height: 1;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    @include mq(md){
      bottom: -7%;
      right: 2%;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100px;
      background: #000;
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }
  }
}
/* = = = = = = = = = = = = = = = =
// Front page - unique styles
 = = = = = = = = = = = = = = = = */

.float{
  transform: rotate(15deg);
  opacity: .2;
  position: absolute;
  left: -5%;
  top: -50%;
  border-radius: 41% 59% 70% 30% / 35% 30% 70% 65% ;
  background: #f09;
  background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
  filter: blur(1rem);
  z-index: -10;
  &._grd{
    width: 320px;
    aspect-ratio: 1/1;
    // height: 320px;
    border-radius: 50% ;
    background: #f09;
    transform: rotate(45deg);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    opacity: .8;
    @include mq(md){
      left: -10%;
      width: 240px;
    }
  }
  &._org{
    width: 380px;
    height: 400px;
    right: -35%;
    left: auto;
    top: -10%;
    border-radius: 49% 51% 49% 51% / 69% 25% 75% 31%;
    background: #eb6c00;
    background-image: linear-gradient(45deg, #ffebad 0%, #ff5e00 100%);
  }
  &._red{
    width: 320px;
    aspect-ratio: 1/1;
    top: auto;
    left: -20%;
    bottom: -10%;
    border-radius: 49% 51% 49% 51% / 69% 25% 75% 31%;
    background: #eb6c00;
    background-image: linear-gradient(45deg, #ffebad 0%, #c000ff 100%);
    @include mq(md){
      left: -60%;
    }
  }
}
.front{
  &-headline{
    &2{
      color:rgba(0,0,0,0);
      display:block;
      font-family: 'Nsans';
      font-weight: 700;
      opacity:1;
      position:relative;
      -webkit-text-stroke-color: #000;
      -webkit-text-stroke-width: 1.5px;
      text-shadow: 2px 3px $Org;
      margin-bottom: 2rem;
      &:after{
        @extend .sacrset ;
        font-size: 22rem;
        top: -80%;
        left: -4rem;
        opacity: 0.2;
        @include mq(){
          font-size: 50vw;
        }
      }
    }
  }
  &-topics{
    .topics{
      &-item{
        max-width: 460px;
        @include mq(md){
          max-width: 100%;
        }
        margin: 1rem 0;
        &:nth-child(odd){
          margin: 0 0;
        }
        &:nth-child(even){
          margin: 2rem 0;
        }
        @include mq(){
          margin: 1rem 0;
        }
      }
      &-image{
        border-radius: 2px;
        box-shadow: 0px 0px 14px rgba(0 ,0, 0 ,0.14);
        height: 100%;
        width: 100%;
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 180px;
        max-height: 120px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:before{
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: inherit;
          z-index: -2;
          pointer-events: none;
          background-size: cover;
          background-position: 50%;
          transition: inherit;
        }
      }
      &-text{
        margin-left: .6em;
        @include mq(){
          background: rgba(255,255,255,.8);
          margin-top: -4rem;
          position: relative;
        }
        .time{

        }
        .title{
          margin: .4em 0;
          @include mq(md){
            margin: 0;
          }
        }
        .link{
          text-decoration: underline;
        }
        .icon{
          margin-left: .2em;
        }
      }
    }
  }
  &-works{
    .works-item{
      &:nth-child(odd){
        margin: 0 auto;
      }
      &:nth-child(even){
        margin: 4rem auto 0;
      }
      &:nth-of-type(n+5){
        display: none;
      }
      @include mq(md){
        &:nth-child(even),
        &:nth-child(odd){
          margin: 1.2rem auto;
        }
      }
    }
  }
  &-service{
    .service{
      &-text{
        width: 60%;
        position: relative;
        margin-bottom: 4rem;
        @include mq(md){
          margin-bottom: 6rem;
          width: 100%;
        }
        &:before{
          content: '';
          background: url("~@/assets/images/front/front-service.jpg") center center/cover no-repeat;
          position: absolute;
          z-index: -1;
          top: 2rem;
          left: -80%;
          right: auto;
          width: 120%;
          height: 100%;;
          @include mq(md){
            top: 3.2rem;
            width: 90vw;
            left: calc(50% - 50vw);
          }
        }
        &:after{
          border: 1px solid #222;
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          top: -.4rem;
          left: .4rem;
          @include mq(md){
            top: .4rem;
            left: -.4rem;
          }
        }
        .lead{
          margin-bottom: .8em;
          font-family: 'Nsans';
        }

      }
    }
  }

  &-blog{
    .blog{
      &-item{
        &:nth-of-type(n+7){
          display: none;
        }
      }
    }
  }
  &-contact{
    &_form{
      input,
      textarea{
        // border: 1px solid $Kro;
        background: #fff;
        max-width: 440px;
        max-height: 140px;
        width: 100%;
        padding: .2em .64em;
        border: 1px solid #dadada;
        &:focus{
          transform: scale(1.03);
          box-shadow:  0 0 8px  #dadada;
          outline: royalblue;
        }
      }
    }
    .btn{
      max-width: 240px;
      display: block;
      margin: 2rem auto;
      background: $Kro;
      color: #fff;
      width: 100%;
      padding: 0.4em;
    }
    .mandatory{
      color: #ff8e3c;
    }
  }

  &-bg{
    &:before{
      content: '';
      width: 180%;
      height: 100%;
      position: absolute;
      // background: #f8f8f8;
      background: #fffcf6;
      transform: rotate(170deg);
      top: -15%;
      left: -20%;
      right: 20%;
      margin: auto;
    }
    &:last-of-type{
      &:before{
        top: 0;
        left: -40%;
        transform: rotate(190deg);
      }
    }
  }
}

.layer{
  padding: 4rem 0;
  @include mq(){
    padding: 2rem 0;
  }
  &-headline{
    &1{
      text-align: center;
      position: relative;
      padding: 6rem 0 ;
      font-family: 'Nsans';
      font-weight: 900;
      -webkit-text-stroke: thin;
      -webkit-text-stroke-color: #fff;
      &:before{
        content: '';
        width: 4rem ;
        height: .2rem;
        background: $Org;
        transform: rotate(-50deg);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2rem;
        margin: auto;
      }
      &:after{
        @extend .sacrset ;
        font-size: 6rem;
        color: $Org;
        z-index: -1;
        top: 20%;
        left: -20%;
        right: 0;
        opacity: 0.6;
        @include mq(){
          font-size: 50vw;
        }
      }
    }
    &2{
      letter-spacing: 0;
      position: relative;
      margin: 2rem 0;
      &:before{
        background: $Kro;
        content: '';
        width: 100%;
        height: .1em;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
      }
    }
  }
}
/* = = = = = = = = = = = = = = = =
// Work - unique styles
 = = = = = = = = = = = = = = = = */
.works{
  &-item{
    max-width: 440px;
    margin: 1.2rem auto;
    &:hover{
      img{
        transition: ease-in-out .4s;
        opacity: .4;
      }
      &:before{
      }
      .works{
        &-image{
          transform: scale(1.04);
        }
        &-text{
          transform: scale(.98);
        }
      }
      .outside{
        opacity: 1;
      }
    }
  }
  &-image{
    position: relative;
    z-index: -1;
    max-width: 420px;
    max-height: 240px;
    margin-left: 1.2rem;
    .outside{
      position: absolute;
      z-index: 1;
      opacity: 0;
      .icon{
        margin: .4em auto;
      }
    }
  }
  &-text{
    margin-top: -4.6rem;
    .title{
      margin: .4em 0 0;
    }
    .category{
      padding: .425rem 2rem;
    }
  }
  &-block{
    &_headline{
      border-left: 6px solid $Org;
      padding-left: .4em;
    }
  }
}
/* = = = = = = = = = = = = = = = =
// Blog - unique styles
 = = = = = = = = = = = = = = = = */
.blog{
  &-list{
    margin: 2rem 0;
  }
  &-item{
    @include mq(md){
      justify-content: center;
      display: flex;
    }
    &:hover{
      .post-image{
        &:after{
          opacity: 1;
        }
      }
    }
  }
}

.post{
  &-image{
    position: relative;
    margin-bottom: 1em;
    @include mq(md){
      margin-bottom: .4em;
    }
    img{
      aspect-ratio: 16 / 9;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .category{
      position: absolute;
      top: -1em;
      left: 0;
      padding: 0.25em 2em;
      z-index: 10;
      &.sample{
        background: $Org;
      }
    }
    &:after{
      @extend .trans;
      content: 'VIEW MORE';
      width: 100%;
      height: 100%;
      color: #fff;
      background: rgba($color: #222, $alpha: .6);
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
    }
    &:before{
      content: '';
    }
  }
  &-header{
    padding: 4rem 0;
    position: relative;
    @include mq(md){
      padding: 6rem 0 2rem ;
    }
    &_thmbnail{
      img{
        max-width: 420px;
        max-height: 240px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      /* filter: grayscale(1); */
      opacity: 0.4;
    }
  }
  &-contents{
    padding: 2rem 1%;
    @include mq(md){
      padding: 2%;
    }
    > *{
      margin: 1em 0;
    }
    h2{
      font-size: 1.5em;
      border-bottom: 2px solid ;
      margin: 2em 0;
    }
    h3{
      font-size: 1.3em;
      border-left: 4px dotted $Org;
      padding-left: .8em;
      margin: 1.6em 0;
    }
    h4{
      font-size: 1.15em;
      margin: 1.4em 0;
      &:before{
        content: ' - ';
      }
      &::first-letter{
        color: $Org;
      }
    }
    ul{
      list-style-type: disc;
      padding-left: 1.5em;
    }
    a{
      display: inline;
      color: #0000ff;
      text-decoration: underline;
    }
    p{
      font-size: 1rem;
      @include mq(md){
        font-size: .9rem;
      }
    }
    blockquote{
      background: #eee;
      color: #666;
      padding: 0.8em 1em;
    }
  }
  &-sibling{
    padding:1em 0;
    .next{
      grid-column: 2/3;
      @include mq(md){
        grid-column: unset;
      }
    }
    &_paging{
      position: relative;
      padding: 1em;
      min-height: 70px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      .arrow-icon {
        position: absolute;
        bottom: 25%;
        top: 25%;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        vertical-align: middle;
        &--circle {
          transition: stroke-dashoffset .3s ease;
          stroke-dasharray: 95;
          stroke-dashoffset: 95;
        }
      }
      &:hover {
        .arrow-icon {
          transform: translate3d(5px, 0, 0);
        }
        .arrow-icon--circle {
          stroke-dashoffset: 0;
        }
      }

      &._prev{
        padding-left: 4em;
        border-right: 1px solid #ccc;
        .arrow-icon{
          left: 1em;
          transform:scale(-1,1) ;
        }
        @include mq(md){
          border-right: none;
        }
      }
      &._next{
        padding-right: 4em;
        .arrow-icon{
          right: 1em;
        }
        @include mq(){
          margin-top: -1px;
        }
      }
    }
  }
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.breadcrumbList {
  color: #616269;
  &:after {
    content: '>';
    margin: 0 10px;
  }
  &:last-child{
    font-weight: 900;
    pointer-events: none;
    color: #222;
    &:after {
      content: '';
      margin: 0;
    }
  }
  a {
    display: inline-block;
    color: #331cbf;
    font-size: .9rem;
  }
}




.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/*　はみ出た色要素を隠す　*/
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #666;/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}

// dark-mode

// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: #000;
//     color: #fff;
//   }
// }
