@charset "utf-8";
@import "_core";
@import "_reset";

/* = = = = = = = = = = = = = = = =
// SETTING BREAKPOINTS
 = = = = = = = = = = = = = = = = */

 $breakpoints: (
  'sm': 'screen and (max-width: 460px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

$Org: #FF8E3C;
$background: #FFE200;

#__layout{
  @include mq(){
    overflow-x: hidden;
  }
}
.trans{
  -moz-transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  transition: 0.4s linear;

}
.time{
  display: block;
}
.sacrset{
  transform: rotate(-12deg);
  white-space:nowrap;
  font-family: 'Sacramento';
  font-weight: normal;
  line-height: 1;
  content: attr(data-text);
  -webkit-text-stroke: 0;
  position: absolute;
  z-index: -99;
}
.button{
  border: 2px solid;
  background: #fff;
  padding: .4em 2.4em;
  font-family: 'Nsans';
  font-weight: 700;
  width: fit-content;
  margin: 2rem auto;
  position: relative;
  line-height: 2;
  &:hover{
    // background: #222;
    background: $Org;
    color: #fff;
    &:before{
      transform: translateX(-1rem);
      width: 3rem;
      background: #fff;
    }
  }
  &::before{
    @extend .trans;
    content: '';
    height: .12rem;
    width: 4rem;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(0);
    margin: auto;
    right: -2rem;
  }
}
.wrap{
  overflow-x: hidden;
}
.inner{
  max-width: 960px;
  margin: auto;
  @include mq(){
    max-width: 92%;
  }
}
.section {
  padding: 6rem 0;
  @include mq(){

  }
}
body {
  font-family:"Yu Gothic", "游ゴシック", 'YuGothic', "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  border-top: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.6;
  overflow-x: hidden;
  letter-spacing: 1px;
  color: #222;
  &.noscroll{
    overflow: hidden;
  }
}
.wrap{

}
.header{
  width: 100%;
  &-logo,
  &-nav{
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  &-logo{
    max-width:6rem;
    width: 100%;
    left: 0;
  }
  &-nav{
    font-family: 'Nsans';
    font-weight: 600;
    color: #222;
    // mix-blend-mode: exclusion;
    // filter: invert(100%) grayscale(100%) contrast(100);
    right: 0;
    @include mq(md){
      mix-blend-mode: unset;
      filter: none;
      top: auto;
      bottom: 0;
      width: 100%;
      background: #fff;
      padding: .8em 0 .6em;
    }
    &_item{
      &:hover{
        // color: $Org;
        // transform: scale(1.1);
        &::first-letter{
          // transform: scale(1.1);
          // color: $Org;
        }
      }
      @include mq(md){
        width: 100%;
        font-size: 2vw;
        text-align: center;
        color: #222;
        p{
          margin: .4em 0 0;
        }
        &.home{
          order: 3;
        }
        &.service{
          order: 1;
        }
        &.works{
          order: 2;
        }
        &.blog{
          order: 4;
        }
        &.contact{
          order: 5;
        }
      }
      .icon{
        font-size: 5vw;
        margin: auto;
      }
      &.nuxt-link-exact-active{
        @include mq(md){
          color: $Org;
          transform: scale(1.15);
          position: relative;
          &:before{
            content: '';
            background: #fff;
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: -40%;
            border-radius: 50%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -3;
          }
        }
      }
    }
  }
}
.footer{
  .waves {
    position:relative;
    width: 100%;
    height:3rem;
    margin-bottom:-7px; /*Fix for safari gap*/
  }
  .parallax{
    & use {
      animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
      &:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      &:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      &:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      &:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
    }
  }


}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}

.mainview{
  height: 100vh;
  position: relative;
  margin-bottom: 4rem;
  &:before{
    content: '';
    background: #f5f5f4;
    width: 30vw;
    height: 100%;
    position: absolute;
  }
  &:after{
    content: '';
    background: rgba(255,255,255,0.8);
    width: 80vw ;
    height: 6rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &-text{
    color: #222;
    position: absolute;
    top: 30%;
    bottom: 40%;
    left: calc(50% - 40vw);
    mix-blend-mode: exclusion;
    filter: invert(100%) grayscale(100%) contrast(100);
    max-width: 50%;
    @include mq(md){
      max-width: 80%;
      left: 10%;
      top: 30%;
    }
    .key{

    }
    .caption{

    }
  }
  &-image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url("~@/assets/images/front/mainview.png") center center /cover no-repeat;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .scroll{
    display: inline-block;
    position: absolute;
    right: 2rem;
    bottom: -6rem;
    z-index: 2;
    padding: 10px 10px 110px;
    line-height: 1;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100px;
      background: #000;
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }
  }
}

.front{
  &-headline{
    &2{
      color:rgba(0,0,0,0);
      display:block;
      font-family: 'Nsans';
      font-weight: 700;
      opacity:1;
      position:relative;
      -webkit-text-stroke-color: #000;
      -webkit-text-stroke-width: 1.5px;
      text-shadow: 2px 3px $Org;
      margin-bottom: 2rem;
      &:after{
        @extend .sacrset ;
        font-size: 26rem;
        top: -80%;
        left: -4rem;
        opacity: 0.2;
        @include mq(){
          font-size: 50vw;
        }
      }
    }
  }
  &-topics{
    .topics{
      &-item{
        max-width: 460px;
        @include mq(md){
          max-width: 100%;
        }
        margin: 1rem 0;
        &:nth-child(odd){
          margin: 0 0;
        }
        &:nth-child(even){
          margin: 2rem 0;
        }
        @include mq(){
          margin: 1rem 0;
        }
      }
      &-image{
        border-radius: 2px;
        box-shadow: 0px 0px 14px rgba(0 ,0, 0 ,0.14);
        height: 100%;
        width: 100%;
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 180px;
        max-height: 120px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:before{
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: inherit;
          z-index: -2;
          pointer-events: none;
          background-size: cover;
          background-position: 50%;
          transition: inherit;
        }
      }
      &-text{
        margin-left: 1em;
        @include mq(){
          background: rgba(255,255,255,.8);
          margin-top: -4rem;
          position: relative;
        }
        .time{

        }
        .title{
          margin: .4em 0;
          @include mq(md){
            margin: 0;
          }
        }
        .link{
          text-decoration: underline;
        }
      }
    }
  }
  &-works{
    .works-item{
      &:nth-child(odd){
        margin: 0 auto;
      }
      &:nth-child(even){
        margin: 4rem auto 0;
      }
      @include mq(md){
        &:nth-child(even),
        &:nth-child(odd){
          margin: 1.2rem auto;
        }
      }
    }
  }
  &-service{
    .service{
      &-text{
        width: 60%;
        position: relative;
        margin-bottom: 4rem;
        @include mq(md){
          width: 100%;
        }
        &:before{
          content: '';
          background: url("~@/assets/images/front/sample.png") center center/cover no-repeat;
          position: absolute;
          z-index: -1;
          top: 6rem;
          left: calc(0% - 50vw);
          right: auto;
          width: 70vw;
          height: 80%;;
          @include mq(md){
            top: 8rem;
            width: 80vw;
            left: calc(50% - 50vw);
          }
        }
        .lead{
          margin-bottom: .8em;
          font-family: 'Nsans';
        }

      }
    }
  }
  &-contact{
    &_form{
      input,
      textarea{
        border: 1px solid #222;
        background: #fff;
        max-width: 440px;
        max-height: 140px;
        width: 100%;
        padding: .2em .64em;
      }
    }
    .btn{
      max-width: 240px;
      display: block;
      margin: 2rem auto;
      background: #222;
      color: #fff;
      width: 100%;
      padding: 0.4em;
    }
  }
}

.layer{
  padding: 4rem 0;
  @include mq(){
    padding: 2rem 0;
  }
  &-headline{
    &1{
      text-align: center;
      position: relative;
      padding: 6rem 0 ;
      font-family: 'Nsans';
      font-weight: 400;
      &:before{
        content: '';
        width: 4rem ;
        height: .2rem;
        background: $Org;
        transform: rotate(-50deg);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2rem;
        margin: auto;
      }
      &:after{
        @extend .sacrset ;
        font-size: 6rem;
        color: $Org;
        z-index: -1;
        top: 20%;
        left: -20%;
        right: 0;
        opacity: 0.6;
        @include mq(){
          font-size: 50vw;
        }
      }
    }
    &2{
      letter-spacing: 0;
      position: relative;
      margin: 2rem 0;
      &:before{
        background: #222;
        content: '';
        width: 100%;
        height: .1em;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
      }
    }
  }
}

.works{
  &-item{
    max-width: 440px;
    margin: 1.2rem auto;
    &:hover{
      img{
        transition: ease-in-out .4s;
        opacity: .4;
      }
      &:before{
      }
      .works{
        &-image{
          transform: scale(1.04);
        }
        &-text{
          transform: scale(.98);
        }
      }
      .outside{
        opacity: 1;
       .icon{
          margin: .4em auto;
        }
      }
    }

  }
  &-image{
    position: relative;
    z-index: -1;
    max-width: 420px;
    max-height: 240px;
    margin-left: 1.2rem;
    .outside{
      font-family:' Nsans';
      position: absolute;
      z-index: 1;
      opacity: 0;
    }
  }
  &-text{

    margin-top: -4.6rem;
    .title{
      margin: .4em 0 0;
    }
    .category{
      padding: .425rem 2rem;
    }
  }
}
/* = = = = = = = = = = = = = = = =
// BLOG STYLING
 = = = = = = = = = = = = = = = = */
 .blog{
   &-list{
    margin: 2rem 0;
   }
   &-item{
    @include mq(md){
      justify-content: center;
      display: flex;
    }
   }
 }

 .post{
   &-image{
     position: relative;
     margin-bottom: 1em;
     @include mq(md){
      margin-bottom: .4em;
     }
     img{
       width: 300px;
       height: 180px;
       max-width: 100%;
       max-height: 100%;
       object-fit: cover;
     }
    .category{
      position: absolute;
      top: -1em;
      left: 0;
      padding: 0.25em 2em;
      &.sample{
        background: $Org;
      }
    }
   }
   &-text{

   }
   &-header{
    padding: 4rem 0;
    position: relative;
    &_thmbnail{
      img{
        max-width: 420px;
        max-height: 240px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      /* filter: grayscale(1); */
      opacity: 0.4;
    }
  }
  &-contents{
    padding: 4rem 0;
    @include mq(md){
      padding: 2rem 0;
    }
    *{
      margin: 1em 0;
    }
    h2{
      font-size: 1.5em;
    }
    h3{
      font-size: 1.2em;
    }
  }
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.breadcrumbList {
  color: #616269;
  a {
    color: #331cbf;
  }
  &::after {
    content: '>';
    margin: 0 10px;
  }
  &:last-child{

    &::after {
      content: '';
      margin: 0;
    }
  }
}
@media (max-width: 600px) {
  .breadcrumbList {
    font-size: 14px;
  }
}



@media (min-width: 1160px) {
  .wrapper {
    padding: 40px 0;
  }
  .pageTitle {
    font-size: 20px;
    font-weight: bold;
    background-color: #eee;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .list {
    border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 10px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
@media (min-width: 820px) and (max-width: 1160px) {
  .wrapper {
    padding: 40px 0 0;
  }
  .pageTitle {
    font-size: 20px;
    font-weight: bold;
    background-color: #eee;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .list {
    border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 10px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
@media (max-width: 820px) {
  .wrapper {
    padding: 40px 0 0;
  }
  .pageTitle {
    font-size: 20px;
    font-weight: bold;
    background-color: #eee;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .list {
    border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 10px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
